*{
    margin: 0;
    padding: 0;
}
.cabeçalho {
    background-color: #4676D3;
    color: white; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0;
    font-family: IM Fell French Canon SC;
    font-size: larger;

}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-style: normal;
    font-size: 15px;
}